<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>GlowLink</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="main-content">
  <div class="header-container">
    <h1>Espectáculos de Luces</h1>
    <p>Seleccione un espectáculo para comenzar</p>
  </div>
  
  <ion-list class="show-list">
    <ion-item *ngFor="let show of lightShows" button detail="true" class="show-item">
      <div class="color-indicators">
        <span 
          *ngFor="let color of show.colors" 
          class="color-dot" 
          [style.background-color]="color">
        </span>
      </div>
      <ion-icon [name]="show.icon" slot="start" [style.color]="show.colors[1]"></ion-icon>
      <ion-label>
        <h2>{{ show.name }}</h2>
        <p>{{ show.description }}</p>
        <div class="duration">
          <ion-icon name="time-outline"></ion-icon>
          <span>{{ show.duration }}s</span>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="accessibility-info">
    <ion-icon name="information-circle-outline"></ion-icon>
    <p>Colores seleccionados para ser distinguibles por personas con daltonismo</p>
  </div>
</ion-content>